## Importação

In [ ]:
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

clf = joblib.load('../models/classificador_cart_model.pkl')
reg = joblib.load('../models/regressor_model.pkl')

tlim1000victims = pd.read_csv('../results/unification/tlim1000_victims_all.csv')
tlim8000victims = pd.read_csv('../results/unification/tlim8000_victims_all.csv')
tlim1000knownmap = pd.read_csv('../results/unification/tlim1000_knownmap_all.csv')
tlim8000knownmap = pd.read_csv('../results/unification/tlim8000_knownmap_all.csv')


env_victims = pd.read_csv('../data/94x94_408v/env_victims.txt', sep=',', header=None, names=['linha', 'coluna'])
victims_data = pd.read_csv('../data/408v/data.csv')

victims_data['linha'] = env_victims['linha']
victims_data['coluna'] = env_victims['coluna']

tlim1000victims = tlim1000victims.rename(columns={'x': 'linha', 'y': 'coluna'})
tlim8000victims = tlim8000victims.rename(columns={'x': 'linha', 'y': 'coluna'})
victims_data = victims_data.rename(columns={'row': 'linha', 'col': 'coluna'})

tlim1000victims = tlim1000victims.merge(victims_data, on=['linha', 'coluna'], how='left')
tlim8000victims = tlim8000victims.merge(victims_data, on=['linha', 'coluna'], how='left')

Xtlim1000 = tlim1000victims.iloc[:, 2:12].values
Xtlim8000 = tlim8000victims.iloc[:, 2:12].values

tlim1000victims['tri'] = clf.predict(Xtlim1000)
tlim1000victims['sobr'] = reg.predict(Xtlim1000)
tlim8000victims['tri'] = clf.predict(Xtlim8000)
tlim8000victims['sobr'] = reg.predict(Xtlim8000)

In [2]:
tlim1000victims.head()
tlim8000victims.head()

,linha,coluna,idade,fc,fr,pas,spo2,temp,pr,sg,fx,queim,gcs,avpu,tri,sobr
0,47,66,38,110,28,87,95,38.041906,1,1,1,0,13,1,1,0.789002
1,39,62,41,103,24,99,91,38.396230,1,1,0,0,13,0,1,0.902458
2,39,76,41,6,0,2,47,31.424132,0,3,0,0,4,3,3,0.122102
3,42,76,29,150,33,72,78,34.296772,0,3,1,2,11,2,2,0.482232
4,44,76,44,75,15,116,99,36.788588,1,0,1,0,15,0,0,0.902458